<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Js</title>
</head>
<!--
  Utilizando a api:
  https://viacep.com.br/ws/04538133/json/
  Mostre o cep, logradouro, complemento, bairro, localidade e uf do que for retornado.

  
  Use o arquivo json da aula, para listar os cursos e as matérias.
-->


<body>
  <div id="app">
    <button @click="buscarCep">Buscar Cep</button>
    <ul>
      <li v-for="(skil, index) in skils">{{skil}}</li>
    </ul>
    <ul>
      <li v-if="dadosCep.cep.length>0" v-for="item in dadosCep">{{item}}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>